@import "../../assets/utility.scss";
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container {
    top: 903px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1240px;
    height: 258px;
    background: white;
    margin: 100px auto 0;
    word-break: break-all;
    
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
    text-align: left;
    border-radius: 8px;
    width: auto;
    height: 32px;
    background: $grey;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    margin-right:20px;
    outline: none;
  }
  
  .active-tabs  {
    background: $primary;
    color: $bright;
  }
 
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
   background-color: white;
    padding-top: 20px;
    width: 100%;
    padding-right: 106px;
    height: 100%;
    display: none;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }