.navbar{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 16px 30px;
    justify-content: center;
}
.all{
    height: 30px;
    display: flex;
    flex-direction: row;
    gap:66px;
    align-items: center;
}
