.defaultBtn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border: 2px solid #1b4b66;
  gap: 8px;
  border-radius: 8px;
  background-color: #1b4b66;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  transition: all 300ms linear;
  cursor: pointer;
}
.defaultBtn:hover {
  box-shadow: 6px 6px 6px rgb(27, 75, 102, 0.5);
}
.outlined {
  border: 2px solid #1b4b66;
  background-color: transparent;
  color: #1b4b66;
}
