.formContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  input {
    width: 35%;
    height: 52px;
    padding: 10px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
    border-radius: 8px;
  }
  input[type="submit"] {
    width: 35%;
    height: 52px;
    background-color: #1b4b66;
    color: white;
  }
}
