@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

.content {
  width: 100%;
  height: auto;
}

.title {
  width: calc(100% - 32px);
  max-width: 600px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px auto;

  @include desktop {
    width: calc(100% - 40px);
    max-width: 1280px;
    margin-bottom: 24px;
    justify-content: left;

    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }

  div {
    width: 100%;
    max-width: 1182px;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }

    button {
      width: 136px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: 1px solid #1b4b66;
      background: transparent;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-5px);
        background-color: #f0f0f0;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.userDetails {
  width: calc(100% - 32px);
  max-width: 600px;
  height: 112px;
  margin: 0 auto;
  border-radius: 8px;
  background: #f1f1f1;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
  }
}
.txtContainer {
  height: 100%;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu {
  width: calc(100% - 32px);
  display: flex;
  max-width: 600px;
  flex-direction: column;
  margin: 16px auto 34px auto;

  @include desktop {
    margin: 0;
    width: 286px;
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 0 7px 0 8px;
    height: 504px;
    position: relative;
  }
}

.item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  @include desktop {
    height: 72px;
  }
}

.logoutButton {
  width: calc(100% - 32px);
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.breadcrump {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.boxContainer {
  width: 100%;
  max-width: 1320px;
  display: flex;
  margin: 0 auto 96px auto;
  padding-left: 20px;
  gap: 23px;
}

.component {
  width: 874px;
  height: 967px;
  display: flex;
}

.movingBar {
  width: 4px;
  height: 72px;
  padding: 9px 0;
  position: absolute;
  left: 0;
  transition: all 0.3s;

  &::after {
    display: block;
    content: "";
    border-radius: 8px 0 0 8px;
    background-color: #1b4b66;
    width: 100%;
    height: 54px;
  }
}

.active {
  @include desktop {
    span {
      color: #1b4b66;
    }
  }
}

.profilepage {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.photosection {
  display: flex;
  padding: 24px 0px;
    input[type="file"] {
      opacity: 0%;
      height: 26px;
      width: 134px;
      position: relative;
      top: -21px;
      left: -39px;
    }
    label {
      padding: 13px 40px;
      background-color: #1B4B66;
      color: #FFF;
      text-align: center;
      display: block;
      cursor: pointer;
      height: 41px;
      width: 136px;
      border-radius: 8px;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;

    }
    

  
}
.profileinput {
  display: flex;
  width: 136px;
  padding: 10px 8px;
  gap: 8px;
}
.profileinput[type="file"] {
  cursor: pointer;
}
.profileinput[type="file"]::file-selector-button {
  padding: 8px;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.deletebutton {
  display: flex;
  width: 136px;
  padding: 10px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid #B00020;
  background-color: #fff;
  color: #B00020;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.deletebutton:hover {
  background-color: rgb(122, 122, 122)
}
.passwordsection {
  margin-top: 20px;
}
.submitbutton {
  display: flex;
  width: 136px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: #1B4B66;
  color: #fff;
  position: relative;
  top: 69px;
  left: 893px;
}
.submitbutton:hover {
  background-color: #19252c;
}
.inputPass{
    width: 27%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;

    label{
      padding: 8px 0px;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;

    }

    input {
        background-color: #f1f1f1;
        border-radius: 4px;
        width: 100%;
        border: none;
        outline: none;
        height: 52px;
        transition: all 0.3s;
        padding-left: 10px;

        &:focus {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        }
    }
    svg {
      top: 0;
      bottom: -15px;
      margin: auto 0;
      right: 10px;
      position: absolute;
      color: #1B4B66;
      cursor: pointer;

      @include desktop {
          top: 25px;
      }
  }
}
