.compContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 52px;
}
// fazer a parte mobile com o mixin
.statusContainer {
  display: flex;
  width: 100%;
  height: 68px;
  background-color: #f1f1f1;
  gap: 24px;
  padding: 12px 16px;
  border-radius: 12px;
  align-items: center;

  input[type="radio"] {
    appearance: none;
  }
  input[type="radio"]:checked + label {
    background-color: #1b4b66;
    color: #ffffff;
    padding: 12px 18px;
    border-radius: 8px;
    transition: background-color 500ms ease-in-out;
  }
}
.infoContainer {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #0000001f;
  padding: 9px 10px;
  justify-content: space-between;
}
.orderContainer {
  display: flex;
  align-items: flex-start;
  background: #f1f1f1;
  width: 100%;
  padding: 24px 19px;
  border-radius: 8px;
  gap: 12px;
  input {
    margin-top: 3px;
  }
}
.orderBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.orders {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.orderDetails {
  display: flex;
  justify-content: space-between;
  min-width: 216px;
}
.orderInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
