@mixin for-desktop-up {
    @media (min-width: 1280px) {
        @content;
    }
}

.content {
    width: 100%;
    height: auto;
}

.warning {
    height: 50px;
    width: 1260px;
    position: absolute;
    top: 67px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #F0F0F0;
    text-align: center;
    padding-top: 31px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    color: #171520;

    a {
        color: #1B4B66;
        text-decoration: underline;
    }
}

.hero-banner {
    width: 1240px;
    position: relative;
    margin: 0 auto;
    margin-top: 74px;
    display: block;

    button {
        width: 180px;
        height: 44px;
        background-color: #1B4B66;
        border-radius: 8px;
        border: none;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        transition: all 0.3s;

        position: absolute;
        top: 261px;
        right: 468px;

        span {
            padding-top: 3px;
            color: #FFF;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
        }
    }

    button:hover {
        transform: translateY(-5px);
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
    }
}

.arrivals {
    width: 100%;
    margin-top: 68px;
    display: block;
}

.arrivals-title {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;

    h1 {
        font-size: 34px;
        text-transform: none;
        font-weight: 600;
        line-height: 44px;
        color: #13101E;
    }

    button {
        width: 103px;
        height: 44px;
        display: flex;
        padding: 10px 8px;
        border: none;
        background-color: transparent;
        justify-content: space-between;
        transition: all 0.3s;

        span {
            font-size: 14px;
            color: #1B4B66;
            font-weight: 600;
            line-height: 24px;
        }

        img {
            width: 24px;
        }
    }

    button:hover {
        background-color: #F0F0F0;
        border-radius: 8px;
    }
}

.arrivals-carousel {
    width: auto;
    height: 412px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    padding-top: 24px;
}

.item {
    width: 284px;
    height: 100%;
    margin: 0 20px;
    padding-bottom: 41px;
    transition: all 0.3s;
    cursor: pointer;

    .item-cover {
        width: 286px;
        height: 286px;
        border-radius: 8px;
    }

    .item-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name-fav {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                color: #171520;
            }
        }

        .item-description {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #626262;
        }

        .item-price {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: #171520;
        }
    }
}

.item:hover {
    transform: scale(1.05);
}

.collections-container {
    width: 100%;
    height: 422px;
    background-color: #1B4B66;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    h1 {
        font-size: 34px;
        font-weight: 600;
        text-transform: none;
        line-height: 44px;
        margin-left: 20px;
        margin: 32px auto 23px 20px;
        color: #fff;
    }
}

.collection {
    width: 100%;
    height: 100%;
    display: flex;
}

.category {
    width: 280px;
    height: 280px;
    margin: 0 20px;
    position: relative;
    cursor: pointer;

    .shadow {
        width: 100%;
        height: 114px;
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 0%, rgba(3, 24, 26, 0.46) 100%);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    img {
        border-radius: 16px;
    }

    span {
        position: absolute;
        bottom: 16px;
        left: 16px;
        transition: all 0.3s;

        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color: #171520;
    }
}

.category:hover .shadow {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 0%, rgba(3, 24, 26, 0.46) 50%);
}

.category:hover span {
    transform: translateY(-5px);
}