.product {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.product:hover {
  transform: scale(1.05);
}
.detailContainer {
  display: flex;
}
.textContainer {
  display: flex;
  flex-direction: column;
  width: 92%;
  gap: 8px;
}
.svgContainer {
  width: 8%;
}
