@import "../../assets/utility.scss";
.product-image{
    position: absolute;
    width: 605px;
    height: 704px;
    top: 144px;
    left: 20px;
}
.container{
    width: 100%;
    position: absolute;
    height: 258px;
    top: 903px;
    padding-left: 20px;
    padding-right: 20px;
}
.content-product{
    background-color: $grey ;
    border-radius: 12px;
    width: 100%;
    height: 48px;
    color: $text-low-emphasis;
    display: flex;
    align-items: center;
    padding: 6px 18px;
   
}
.content-product > div{
    margin-right: 36px;
    cursor: pointer;
}