@import "../../assets/utility.scss";
.product-image{
    position: absolute;
    width: 605px;
    height: 704px;
    top: 144px;
    left: 20px;
}
.product-info{
    width: 814px;
    position: absolute;
    height: 624px;
    left: 649px;
    top: 144px;
}
.container{
    width: 100%;
    position: absolute;
    height: 258px;
    top: 903px;
    padding-left: 20px;
    padding-right: 20px;
}
.content-product{
    background-color: $grey ;
    border-radius: 12px;
    width: 100%;
    height: 48px;
    color: $text-low-emphasis;
    display: flex;
    align-items: center;
    padding: 6px 18px;
   
}
.content-product > div{
    margin-right: 36px;
    cursor: pointer;
}
.pin-code-check{
    position: absolute;
    width: 611px;
    height: 74px;
    top: 250px;
}
.pin-code-check > h1{
    color: $text-high-emphasis;
    width: 152px;
    margin: 0;
}
.pin-code-check > h2{
    color: $text-low-emphasis;
    width: 205px;
}
.pin-code{
    width: 390px;
    height: 56px;
    border-radius: 4px;
    background-color: $grey;
    padding: 18px, 12px, 18px, 16px;
}
.pin-code > input{
    width: 300px;
    height: 20px;
    color: $text-low-emphasis;
    margin-top: 5%;
    margin-left: 5%;
    border: none;
    background-color: $grey;
}
.pin-code > input ::-webkit-input-placeholder{
    color: $text-low-emphasis;
}
.pin-code > button {
    margin-left: 2.5%;
    border: none;
    cursor: pointer;
    color: $primary;
}
.product-name-and-description{
    width: 410px;
    height: 70px;
}
.ratings{
    width: 268px;
    height: 24px;
    top: 102px;
}
.product-name-and-description > h2{
    color: $text-low-emphasis;
}
.product-pricing{
    color: $text-high-emphasis;
    display: flex;
    align-items: baseline;
    top: 150px;
    position: absolute;
}
.seperator{
    width: 611px;
    top: 226px;
    border: 1px;
    color: black;
}
.subscribed-pricing{
    color: $text-light;
    font-family: Inter;
    font-size: 34px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-decoration: line-through;
    margin-left: 2.5%;
}
.discount{
    color: #FF404B;
    margin-left: 2.5%;
}