.opacity {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  transition: all 700ms ease-in-out;
  display: none;
}

.opacityOpen {
  display: block;
  background-color: #00000044;
  z-index: 20;
  pointer-events: none;
}