.opacity {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  z-index: -1;
  right: -1000px;
  bottom: 100px;
  transition: all 700ms ease-in-out;
}

.opacityOpen {
  background-color: #00000044;
  z-index: 20;
}
