@import "../../assets/utility.scss";

@mixin phone {
  @media (max-width: 1279px) {
    @content;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: $bright;
}

.page-title {
  margin: 24px 0px 24px 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
  //justify-content: space-evenly;
  //max-width: 1640px;
  justify-content: space-between;
  padding-left: 20px;
  height: auto;
  margin-bottom: 140px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 708px;
  height: auto;
  gap: 8px;
}

.inferior-link-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 2;
  margin-top: 40px;
  a {
    padding: 10px 8px;
    text-decoration-line: underline;
    color: $primary;
  }
  button {
    width: 136px;
    height: 44px;
    padding: 10px 8px;
    background-color: $primary;
    color: $bright;
    border: none;
    border-radius: 8px;
  }
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.available {
  opacity: 1;
  transition: 0.5s cubic-bezier(1, 0, 0, 1) 0s;
}

.unavailable {
  opacity: 0.25;
  transition: 0.5s cubic-bezier(1, 0, 0, 1) 0s;
}

.order-items {
  display: flex;
  flex-direction: column;
  width: 412px;
  height: auto;
  gap: 24px;
}

.order-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  margin-bottom: 16px;
  justify-content: center;
  box-sizing: border-box;
  background-color: $bright;
}

.separator {
  display: flex;
  position: relative;
  height: 1px;
  width: 100%;
  bottom: -17px;
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.details-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  gap: 12px;
  .rows {
    display: flex;
    flex-direction: row;
    width: 388px;
    justify-content: space-between;
  }
  .cost {
    color: $text-high-emphasis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  .grand-total {
    color: $text-high-emphasis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  width: 100%;
  img {
    width: 75px;
    height: 80px;
    border-radius: 8px;
  }
  .mapped-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .mapped-data {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: space-between;
  }
}

//CHECKOUT FORM

.new-adress-container {
  display: flex;
  flex: row;
  width: 710px;
  height: auto;
  justify-content: space-between;
}

.input-column {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 20px;
}

.input-holder {
  display: flex;
  flex-direction: column;
  width: 287px;
  height: auto;
  gap: 8px;
  input {
    width: 100%;
    height: 52px;
    background-color: $grey;
    border: none;
    box-sizing: border-box;
    padding: 16px 12px 16px 16px;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
    @extend .body-medium;
    @extend .text-low-emphasis;
  }
}

.wide-input-holder {
  @extend .input-holder;
  width: 391px;
}

.phone-input-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 8px;
}

.phone-input-fields {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 8px;
}

.number {
  width: 100%;
  height: 52px;
  background-color: $grey;
  border: none;
  box-sizing: border-box;
  padding: 16px 12px 16px 16px;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  @extend .body-medium;
  @extend .text-low-emphasis;
}

.ddd {
  width: 80px;
  height: 52px;
  background-color: $grey;
  border: none;
  box-sizing: border-box;
  padding: 16px 12px 16px 16px;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  @extend .body-medium;
  @extend .text-low-emphasis;
}

.card-array {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  padding: 12px;
  width: 160px;
  height: 143px;
  position: relative;
  cursor: pointer;
  background-color: $bright;

  input[type="radio"] {
    display: none;
  }

  img {
    max-width: 130px;
    max-height: 100px;
    margin: 30px auto auto auto;
    pointer-events: none;
  }

  p {
    position: absolute;
    bottom: 20px;
  }

  span {
    display: block;
    position: absolute;
    top: 12px;
    right: 15.5px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid $text-low-emphasis;
  }

  span:after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background: $primary;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.25s cubic-bezier(1, 0, 0, 1) 0s;
  }

  input[type="radio"]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
  }

  &.checked {
    background-color: #f3f3f7;
    transition: 0.25s;
  }

  &:hover {
    box-shadow: 0px 8px 16px 5px rgba(202, 202, 202, 0.25);
    transition: 0.3s;
  }
}
