.cardVertical {
  display: flex;
  width: 100%;
  gap: 16px;
  justify-content: space-between;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 216px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.stepperContainer {
  display: flex;
  align-items: center;
  width: 73px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid var(--primary, #1b4b66);
  input[type="number"] {
    width: 25px;
    height: auto;
    border: none;
    outline: none;
    text-align: center;
  }
}
